.side-callback{ border:none; left: 0px; padding: 0px; position: fixed; top: 315px;  width: 40px; height:117px; z-index:9;}
.side-callback a{ height:100%; width:100%; float:left;background:url(../images/callbacktab.png) no-repeat -10px 0; z-index:200;}
.side-callback a:hover{ height:100%; width:100%; float:left;background:url(../images/callbacktab.png) no-repeat -6px 0; z-index:200;}

.background-opacity-call { background: none repeat scroll 0 0 #000000; display: none; height: 100%; left: 0; opacity: 0.7; filter:alpha(opacity=70); position: fixed; top: 0; width: 100%; /* z-index: 9999; */ }
.callback_close {color: #000000; float: right; font: bold 20px arial; margin: 10px 10px 0 0; text-decoration: none;}
.callback-container { /* border: 3px solid #2f5170 !important; */  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; /*height: auto !important; left: 38% !important; top: 55px !important;*/  max-width: 650px !important; padding: 10px !important; text-align: left; width: 400px; z-index: 9999; background:#fff; position:fixed; left:0; right:0; top:0; bottom:0; margin:auto; /*margin:6% 0 0 36%; height:578px; */max-height: 217px; background-color: rgba(0,0,0,.15); }
.callback-container.no-captcha{ height:444px;}
.callback_close { background: url("../images/closebox.png") no-repeat scroll 0 0 transparent; height: 30px; position: absolute; right: -23px; top: -26px; width: 30px;}
/*.callback-content .form-list .required { color: #EB340A;}*/

.callback-popup-content{float:left; width:370px; background: none; padding:0px; display: block; }
.callback-title{ background: none repeat scroll 0 0 #2f5170;  border: 1px solid #2f5170; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;  color: #ffffff; font-size: 12px; font-weight: bold; left: 22px;  
                 padding: 5px 0;  position: relative;  text-align: center; top: -30px; width: 115px; margin-top: 19px; font-family: 'Open sans', sans-serif; }
.callback-content { background: none repeat scroll 0 0 #FFFFFF; /* border: 1px solid #0091ea; */ -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; float: left; padding: 0px 25px 0px; width: 380px; height: 196px !important; margin-top: -48px; }
.callback-content .form-list li label{ font-weight:bold; float:left; width:100%; font-size: 11px; font-family: 'Open Sans', sans-serif;} 
.callback-content .form-list li input.input-text { 
    /*  padding:4px 5px; 
        background:url("../images/general-input-bg.jpg") repeat-x scroll 0 0 #fff; 
        height:20px; 
        width:300px; 
        float: left;*/

    margin: 0;
    width:300px;
    box-sizing: border-box;
    font-family: inherit;
    border: 1px solid #CCC;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*    -moz-box-shadow: 0 2px 2px #E3E3E3 inset;
        -webkit-box-shadow: 0 2px 2px #E3E3E3 inset;
        box-shadow: 0 2px 2px #E3E3E3 inset;*/
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    padding: 5px 4px;

}
.callback-content .form-list li textarea{width:300px; float: left; height:5em;}
.callback-content .form-list li button.button{margin-top:10px;}
.callback-content input, .callback-content select, .callback-content textarea, .callback-content button {     font-family: 'Open Sans', sans-serif; font-size: 12px; vertical-align:middle; color:#343434;  /* -webkit-border-radius: 5px;  -moz-border-radius: 5px; border-radius: 5px; */ }
.callback-content input.input-text, .callback-content select, .callback-content textarea { 
    background:#fff; 
    border:1px solid #d1d1d1; 
}

.callback-content input.input-text, .callback-content textarea { 
    padding:2px; 
}
.callback-content input.input-text { 
    /* background:url(../images/general-input-bg.jpg) repeat-x; */ 
    height:24px; 
    line-height:24px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; border-radius: 5px;
}
.callback-content .form-list label {
    color: #343434;
    float: left;
    font-weight: normal;
    /*    margin-bottom: 5px;*/
    position: relative;
    z-index: 0;
}
.callback-content form {
    display: inline;
}
.callback-content .form-list li p:after {
    clear: both;
    content: ".";
    display: inline !important;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.callback-content ul{
    list-style: none outside none;
	margin-top: 30px;
    display: block;
    position: fixed;	
}

/*.callback-content input.input-text:focus, .callback-content select:focus, .callback-content textarea:focus { border:1px solid #e11e26; }*/

/*.callback-content input.input-text:focus, .callback-content select:focus, .callback-content textarea:focus { border:1px solid #0091ea; }*/

.button-callback { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; height:auto !important; /* margin-top: 10px; */ left: 582px;}
.button-callback span { float:left; height:30px; background:transparent url(../images/general-btn.gif) 0 0 no-repeat; padding:0 0 0 3px; font:bold 11px/30px Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:center; white-space:nowrap; color:#fff; }
.button-callback span span { background-position:100% 0; padding:0 30px 0 8px; }
.callback-content button.disabled span { border-color:#bbb !important; background:#bbb !important; }
.callback-content .callback-success-msg, .callback-content .callback-error-msg {
    background-position: 10px 4px !important;
    background-repeat: no-repeat !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 11px !important;
    font-weight: bold !important;
    min-height: 24px !important;
    padding: 8px 8px 8px 32px !important;
}
.callback-content .callback-error-msg {
    background-color: #FAEBE7;
    background-image: url("../images/i_msg-error.gif");
    border-color: #F16048;
    color: #DF280A;
}
.callback-content .callback-success-msg
{
    background-color: #EFF5EA !important;
    background-image: url("../images/i_msg-success.gif") !important;
    border-color: #446423;
    color: #3D6611;
	margin-top: 22px;
    position: fixed;
    width: 22%;
    display: block;
	height: 27px;
}
.callback-content .form-list li {
    margin: 0 0 10px; display:block; background:none;
}

/* callback-container large*/

.callback-container.xlarge { width:485px;}
.callback-container.xlarge .callback-content{ width:442px;}
.callback-container.xlarge .callback-content .form-list li input.input-text{ width:365px;}
.callback-container.xlarge .callback-content .form-list li textarea{ width:369px;}


@media only screen and (max-width: 767px) { 

    .callback-content {
        background: none repeat scroll 0 0 #FFFFFF;
        /* border: 1px solid #0091ea; */
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        float: left;
        padding: 0px 25px 0px;
        width: 300px;
    }

    .callback-content .form-list li input.input-text {
        margin: 0;
        width: 250px;
        box-sizing: border-box;
        font-family: inherit;
        border: 1px solid #CCC;
        font-size: 13px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
        padding: 5px 4px;
    }

    .callback-content .form-list li textarea {
        width: 250px;
        float: left;
        height: 5em;
    }

    .callback-container {
		/*
        border: 3px solid #2f5170 !important;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        max-width: 650px !important;
        padding: 10px 20px 20px 20px !important;
        text-align: left;
        width: 350px;
        z-index: 9999;
        background: #fff;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 662px; */
		
		
	/*border: 3px solid #2f5170 !important; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width: 650px !important;
    padding: 10px!important;
    text-align: left;
    width: 377px;
    z-index: 9999;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 217px;
    background-color: rgba(0,0,0,.15);

	}

    .callback-container.no-captcha { 
        height:460px;
    }


}

.requestCall {
  position: fixed;
    left: 1px;
    width: 205px;
    opacity: .7;
    background-color: #0091ea;
    text-align: center;
    z-index: 99999;
    border-radius: 8px;
    margin-top: 350px;
    bottom: 60px;
}
/* .inlineBorder {
    width: 152px;
    float: left;
    border-right: 2px dashed #3b3b3b;
    font-size: 14px;
    height: 60px;
} */
/* .wid-40 {
    width: 40%;
    float: left;
} */
.requestCall img {
    height: 41px;
    width: 41px;
    margin-top: 8px;
	margin-left: 10px;
}
/* .wid-60 {
    width: 53%;
    float: left;
    padding-top: 10px;
    text-align: left;
    padding-left: 10px;
} */
.requestCall span {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 1.3;
}

.loader-callback {
    display: block;
   /*  margin-top: 20px; */
   margin-left: 155px;
   position: absolute;
}

#customer-care-contact {
    font-size: 14px;
    width: 85%;
    margin: 10px auto;
    line-height: 1.3;
    color: #000;
}

#customer-care-soon {
    font-size: 14px;
    width: 85%;
    margin: 10px auto;
    line-height: 1.3;
    color: #000;
    text-align: center;
	margin-left: 100px;
}



/* Request call back btn design */


.requestCall .request-CallBack-btn-container{
  position: absolute;
  left: 50%;
  margin: 0 0 100px -103px;
}

.requestCall .request-CallBack-btn{
    width: 205px;
    height: 50px;
    line-height: 50px;
    margin-top: 6px;
    background-color: #0091ea;
    border-radius: 8px;
    color: #fff;
    font-family: 'Open sans',sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  &:before{
    pointer-events: none;
      position: absolute;
      z-index: -1;
      content: '';
      top: 60%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      opacity: .4;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
      -webkit-animation-name: hover-shadow;
      animation-name: hover-shadow;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
  }
    &:hover{
        background-color: #e16e50;
    }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

