/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.9.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */

/* IE7 */
*:first-child+html .sl_clearfix{min-height:1%}
*:first-child+html .sl_clear{min-height:1%}
.sl_clear{height:0;font-size:0;clear:both}
.sl_clearright{height:0;font-size:0;clear:right}
.sl_clearleft{height:0;font-size:0;clear:left}
.sl_clearfix:after{clear:both;display:block;content:" ";height:0;visibility:hidden}
.sl_clearfix{display:block}* html
.sl_clearfix{height:1%}
li.sl_clearfix{display:list-item}

#bg_fade{background-color:#000;height:100%;left:0;margin:0;padding:0;position: fixed;top:0;visibility:hidden;box-sizing: border-box;width:100%;z-index: 9999;}
.apptha_sociallogin_bg_fade {background-color:#000;height:100%;left:0;margin:0;padding:0;position: fixed;top:0;visibility:hidden;box-sizing: border-box;width:100%;z-index: 9999;}
.twitter_btn.button{background: #09f; display: block; padding: 3px 10px; margin-left: 10px; font:bold 13px arial;border-radius:5px;float: left;border: 0;color: white; cursor: pointer;}
.social_input{float: left; position: relative;}
.social_input .apptha_tw_email{margin-bottom: 5px; padding: 3px 5px 2px 5px;box-sizing: border-box;width: 196px; float: left; border: 1px solid #CCC;}
.social_input .validation-advice {clear: both;min-height: 13px;margin: 3px 0 0;box-sizing: border-box;padding-left: 17px;font-size: 11px;font-weight: bold;line-height: 13px;background: url(../images/validation_advice_bg.gif) 2px 0 no-repeat;color: #EB340A;width: 190px; text-align: left;}
.social_blog{padding-bottom: 25px; overflow: hidden; width: 105%;margin-left: -10px;}
.social-page-title {width: 100%;overflow: hidden;border-bottom: 1px solid #CCC;margin: 0 0 15px;}
.social-page-title h1{margin: 0;font-size: 20px;color: #0A263C;}
.social-top{margin: 0 auto;width: 950px;}
.apptha_header_logo_Div{z-index: 999991;position: fixed;box-sizing: border-box;padding:10px;width:749px;background: #333 transparent;background:url(images/social_popup_bg.png) repeat; left: 25% ;}
.apptha_social_popup_sprite{background:url(images/social_logoin_sprite.png) no-repeat;}
.closeLink{top: -6px;right: -6px; width: 26px; height: 26px; position: absolute;z-index: 9999; cursor: pointer;background-position: -47px -148px;}

.apptha_social_popup_main{background: white;padding: 20px;border: 3px solid #323232;}
.apptha_socialpopup_main_div{overflow: hidden;position: relative;}
.apptha_socialpopup_main_div .socialpopup_form label{float: left;width:38%;padding-top: 5px; text-align: left;}
.apptha_socialpopup_main_div .socialpopup_form em, .popup_error_msg {color:red;}
.apptha_socialpopup_main_div .apptha_all_social_iconbtn{width:30%; float: left; position: absolute; margin-left: -27px;} /* changed */
.apptha_socialpopup_main_div .apptha_all_social_iconbtn a{  cursor: pointer; text-decoration: none;}
.apptha_socialpopup_main_div .apptha_all_social_iconbtn ul{float:left; width: 100%;}
.apptha_all_social_iconbtn ul li{display: block;clear: both;margin-left: 30px;margin-bottom: 9px;}

.apptha_socialpopup_main_div .popup_register_btn{cursor: pointer;color: #fff;padding: 5px 15px;-webkit-border-radius: 4px;-moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 1px rgba(0,0,0,0.2);text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);text-decoration: none;border: 0;font-weight: bold;font-size: 13px;font-family: inherit;line-height: normal;zoom: 1;display: block;float: left;clear: both;background: #A0DE33;background: -webkit-gradient(linear,left top,left bottom,from(#A0DE33),to(#38690A));background: -webkit-linear-gradient(top,#A0DE33,#38690A);background: -moz-linear-gradient(top,#A0DE33,#38690A);background: -o-linear-gradient(top,#A0DE33,#38690A);background: -ms-linear-gradient(top,#A0DE33,#38690A);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0de33',endColorstr='#38690A');}
.apptha_socialpopup_main_div .socialpopup-input-box {float: left;margin-bottom: 12px;width:215px;}
.apptha_socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input, .socialpopup-input-box select {margin: 0;box-sizing: border-box;font-family: inherit;border: 1px solid #CCC;font-size: 13px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-box-shadow: 0 2px 2px #E3E3E3 inset;box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box; padding: 5px 4px;}
.socialpopup-input-box select{width:215px;}
#captcha-input-box-user_create .captcha, .apptha_socialpopup_main_div .sl_captcha, .apptha_socialpopup_main_div #captcha-input-box-user_create{float:left;}
.calendar{z-index:999992;}
.apptha_register_block #captcha_user_create{box-sizing: border-box;margin: 0;font-family: inherit;border: 1px solid #CCC;font-size: 13px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-box-shadow: 0 2px 2px #E3E3E3 inset;box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box;width: 230px;padding: 5px 4px;}
.socialpopup-input-box .dob-day, .socialpopup-input-box .dob-month, .socialpopup-input-box .dob-year{width: 70px;float: left;}
.socialpopup-input-box .dob-month{margin: 0 12px;}
.socialpopup-input-box .dob-day input, .socialpopup-input-box .dob-month input, .socialpopup-input-box .dob-year input{width: 65px;}
.apptha_socialpopup_main_div .apptha_show_password{font-size: 10px;float: left;margin-top: 20px;}
.apptha_socialpopup_main_div .social_login_btn{margin: 10px 0 0;}
.apptha_socialpopup_main_div .apptha_forget_password_form h4, .apptha_form_login h4, #form-validate h4, .apptha_all_social_iconbtn h4{font-size: 15px;font-family: 'tahoma', Arial, Helvetica, sans-serif;margin: 0 0 17px 0;border-bottom: 1px dotted #CCC;padding-bottom: 3px; text-align: right;} /* changed */
.apptha_socialpopup_main_div .apptha_forget_password_form .small_txt{color:#777;display: block;margin-bottom: 4px; float:left;text-align:left;}
.apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login{box-sizing: border-box;font-family:Arial, Helvetica, sans-serif;font-size: 13px;margin: 19px 0 17px;color:#444;float: left;border: 1px solid #DDD;background:#f5f6f6;padding: 7px 10px;width:355px;}
.apptha_socialpopup_main_div button.button{float: right; margin-top: 10px;}
.divider-or b{line-height: 46px;font-weight: bold;font-size: 13px;text-align: center;width: 37px;float: left;}
.apptha_socialpopup_main_div .divider-or{background-position: 0 -141px;width: 42px;height: 42px;display: block;position: absolute;top: 57%;right: 65.6%;margin: -42px 0 0;} /* changed */
.apptha_socialpopup_main_div .com_error, .apptha_socialpopup_main_div .apptha_register_error{box-sizing: border-box;background: #FFEBEB;color: #E50000;border: 1px solid #ECCDCD;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;padding: 5px 0;margin: 0 0 10px 0;float: left;width: 100%;text-align: center;}
.apptha_all_social_iconbtn h4{margin-left: 30px }
.inner_social_grid{box-sizing: border-box;cursor: pointer; border: 0; margin:0; float:left; font: bold 13px arial;color: white;padding: 0 0 0 10px; min-width: 48%; height: 26px;text-align: left;}
.fb_login{ background:url(images/facebook-bg.jpg) repeat-x;  }
.twitter_login{background:url(images/twitter-bg.jpg) repeat-x; }
.google_login{background:url(images/google-plus-login.png) repeat-x; background-repeat: no-repeat; height: 50px; margin-top: -16px; margin-left: 23px; min-width: 30% !important; outline: none; border-style: none; background-size: 80%; width: 35% !important;} /* changed */
.yahoo_login{background:url(images/yahoo_bg.jpg) repeat-x; }
.linkedin_login{box-sizing: border-box; border: 0; width: 179px; height: 26px; float:left;background-position:0 -58px;}
.twitter_popup_btn{float: right;margin:0;}
.linkedin_popup_input, .twitter_popup_input{width:97%;}
.apptha_twitter_error{color:red; width:200px;}
.icon_left_grid{display: block;  width: 28px; height: 26px; float: left;}
.icon_right_grid{display: block; width: 10px; height: 26px; float: left;}
/*.apptha_social_login_sprite{background:url(images/social_login_sprite.png);background-repeat: no-repeat;}*/
.f_icon_left{background-position: 0 0;}
.f_icon_right{background-position: -28px 0;}
.apptha_progress_image_facebooklogin{padding:5px 0 0 5px;}

.t_icon_left{ background-position: 0 -29px;}
.t_icon_right{ background-position: -28px -29px;}

.gplus_icon_left{  background-position: 0 -115px;}
.gplus_icon_right{ background-position: -28px -115px; }

.yahoo_icon_left{  background-position: 0 -86px;}
.yahoo_icon_right{ background-position: -28px -86px; }

.left_login{box-sizing: border-box;float: left;width: 55%; padding-right: 25px; /* border-right: 1px dotted #ccc; */ } /* changed */
.sl_clearfix{clear:both;}

.validation-advice { text-align:left; width: auto; }
.popup_social_msg{box-sizing: border-box;width: 91%;border: 1px solid #ADD8A7;color: #3d6b2d;background-color: #eaf9e6;padding: 10px;}
.socialpopup-submit-box{float: right;margin-bottom: 12px;width: 239px;margin-right: 19px;}
.sl_captcha li{list-style: none;}

.apptha_social_tiw_login h4{font-size: 15px;font-family: 'tahoma', Arial, Helvetica, sans-serif;margin: 0 0 17px 0;border-bottom: 1px solid #CCC;padding-bottom: 3px;text-align: left;}
.powerdby_link{float: right;margin-top: 15px;font-size: 10px;}
.appth_social_popup_main #captcha-image-box-user_create{width: 236px;margin-right: 21px;float: right;margin-top: 10px;}
.apptha_socialpopup_main_div #captcha-input-box-user_create em{float: right;padding-right: 10px}
.apptha_formSuccess {min-height: 13px;margin: 3px 0 0;padding: 0;font-size: 11px;font-weight: bold;line-height: 13px;color: #eb340a;text-align: left;}
.apptha_forget_password_error{float:left;width:100%;}
.apptha_progress_image_twitter, .apptha_progress_image_forgot, .apptha_progress_image_login, .apptha_progress_image_register{margin: 18px 0 0 10px;float: right;}

.apptha_progress_image_login{display: block;margin-top: 18px;}


@media screen and (max-width: 780px) {
.apptha_header_logo_Div{ padding: 5px; width: 260px; position: absolute;top: 25%;box-sizing: border-box;}
.appth_social_popup_main{ width: 234px; padding: 10px;box-sizing: border-box; }
.left_login{ width: 100%; padding-right: 0;box-sizing: border-box;}
.apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login { width: 200px;}
.apptha_socialpopup_main_div .socialpopup-input-box{ width: 95%; }
.apptha_socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input{ width: 100%; }
.apptha_sociallogin_bg_fade {position: fixed;}
.apptha_social_popup_main .divider-or{ display: none; }
.apptha_socialpopup_main_div .apptha_all_social_iconbtn{ width: auto; float: none; position: relative; clear: both;}
.apptha_all_social_iconbtn h4{ margin-left: 0;}
.apptha_socialpopup_main_div .socialpopup_form label{ width: auto; }
.apptha_socialpopup_main_div .socialpopup-input-box .dob-day,
.apptha_socialpopup_main_div .socialpopup-input-box .dob-month,
.apptha_socialpopup_main_div .socialpopup-input-box .dob-year{width: 70px;float: left;}
.apptha_socialpopup_main_div .socialpopup-input-box .dob-month{margin: 0 12px;}
.apptha_socialpopup_main_div .dob-day input,
.apptha_socialpopup_main_div .dob-month input,
.apptha_socialpopup_main_div .dob-year input{width: 56px;}
.calendar{z-index:999992; left: 18%;}
}

@media screen and (max-width: 500px) {
.apptha_all_social_iconbtn ul li{margin-left: 55px;}
}

@media only screen and (min-width: 310px) and (max-width: 400px){
.calendar{z-index:999992; left: 2%;}
 }

 @media only screen and (max-width: 767px) {
   #social_gender {
       width: 100% !important;
   }
}

#SMEimg {
/*    background:url(images/ImgSME.jpg) repeat-x; */
    background-repeat: no-repeat;
}

div.SMEImageDis {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flexbox;
    width: 305px !important;
    height: 450px !important;
    overflow: visible;
}

.social-login-all {
    /* display: block;
    margin-top: -33px;
    margin-left: 107px !important;
    width: 45% !important;
    position: relative !important; */
	
    display: block;
    margin-top: -33px;
    margin-left: 116px !important;
    width: 34% !important;
    position: relative !important; 
}

.social-login-all .google_login {
    /* background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-left: 0px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 100%;
    width: 38% !important; */
	
    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-left: -19px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 100%;
    width: 45% !important;
}
.social-login-all .apptha_socialpopup_main_div .apptha_forget_password_form h4, .apptha_form_login h4, #form-validate h4, .apptha_all_social_iconbtn h4 {
    font-size: 13px;
    font-family: 'Open sans', sans-serif;
   /*  margin: 0 0 17px 0; */
    border-bottom: 1px dotted #CCC;
    padding-bottom: 3px;
    text-align: right;
}

.social-login-all .divider-or b {
    line-height: 46px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    width: 37px;
    float: left;
}

.social-login-all .apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* margin: 19px 0 17px; */
    color: #444;
    float: left;
    border: 1px solid #DDD;
    background: #f5f6f6;
    padding: 7px 10px;
    width: 355px;
}


@media only screen and (max-width: 767px) { 

.social-login-all .google_login {
    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-right: -80px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 37% !important;
    width: 30% !important;
}

.apptha_socialpopup_main_div .apptha_all_social_iconbtn {
    width: 130px !important;
    float: left;
    position: relative;
    clear: both;
    margin-top: 14px;
}

.social-login-all {
    display: block;
    margin-top: -33px;
    margin-left: 0px !important;
    width: 34% !important;
    position: relative !important;
}

div.SMEImageDis {
    display: none;
    width: 305px !important;
    height: 395px !important;
    overflow: visible;
}

   .apptha_all_social_iconbtn ul li {
    margin-left: -450px;
    }

    .google_login {
/*    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
     margin-top: 8px; 
    margin-left: 23px;
    min-width: 10% !important;
    outline: none;
    border-style: none;
    background-size: 100% !important;
    float: right;*/

    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 65px;
    /* margin-top: 8px; */
    margin-left: 68px !important;
    min-width: 32% !important;
    outline: none;
    border-style: none;
    background-size: 40% !important;
    float: right;
    margin-right: -100px !important;
}
	
}





/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.9.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */

/* IE7 */
*:first-child+html .sl_clearfix{min-height:1%}
*:first-child+html .sl_clear{min-height:1%}
.sl_clear{height:0;font-size:0;clear:both}
.sl_clearright{height:0;font-size:0;clear:right}
.sl_clearleft{height:0;font-size:0;clear:left}
.sl_clearfix:after{clear:both;display:block;content:" ";height:0;visibility:hidden}
.sl_clearfix{display:block}* html
.sl_clearfix{height:1%}
li.sl_clearfix{display:list-item}

#bg_fade{background-color:#000;height:100%;left:0;margin:0;padding:0;position: fixed;top:0;visibility:hidden;box-sizing: border-box;width:100%;z-index: 9999;}
.apptha_sociallogin_bg_fade {background-color:#000;height:100%;left:0;margin:0;padding:0;position: fixed;top:0;visibility:hidden;box-sizing: border-box;width:100%;z-index: 9999;}
.twitter_btn.button{background: #09f; display: block; padding: 3px 10px; margin-left: 10px; font:bold 13px arial;border-radius:5px;float: left;border: 0;color: white; cursor: pointer;}
.social_input{float: left; position: relative;}
.social_input .apptha_tw_email{margin-bottom: 5px; padding: 3px 5px 2px 5px;box-sizing: border-box;width: 196px; float: left; border: 1px solid #CCC;}
.social_input .validation-advice {clear: both;min-height: 13px;margin: 3px 0 0;box-sizing: border-box;padding-left: 17px;font-size: 11px;font-weight: bold;line-height: 13px;background: url(../images/validation_advice_bg.gif) 2px 0 no-repeat;color: #EB340A;width: 190px; text-align: left;}
.social_blog{padding-bottom: 25px; overflow: hidden; width: 105%;margin-left: -10px;}
.social-page-title {width: 100%;overflow: hidden;border-bottom: 1px solid #CCC;margin: 0 0 15px;}
.social-page-title h1{margin: 0;font-size: 20px;color: #0A263C;}
.social-top{margin: 0 auto;width: 950px;}
.apptha_header_logo_Div{z-index: 999991;position: fixed;box-sizing: border-box;padding:10px;width:749px;background: #333 transparent;background:url(images/social_popup_bg.png) repeat; left: 25% ;}
.apptha_social_popup_sprite{background:url(images/social_logoin_sprite.png) no-repeat;}
.closeLink{top: -6px;right: -6px; width: 26px; height: 26px; position: absolute;z-index: 9999; cursor: pointer;background-position: -47px -148px;}

.apptha_social_popup_main{background: white;padding: 20px;border: 3px solid #323232;}
.apptha_socialpopup_main_div{overflow: hidden;position: relative;}
.apptha_socialpopup_main_div .socialpopup_form label{float: left;width:38%;padding-top: 5px; text-align: left;}
.apptha_socialpopup_main_div .socialpopup_form em, .popup_error_msg {color:red;}
.apptha_socialpopup_main_div .apptha_all_social_iconbtn{width:30%; float: left; position: absolute; margin-left: -27px;} /* changed */
.apptha_socialpopup_main_div .apptha_all_social_iconbtn a{  cursor: pointer; text-decoration: none;}
.apptha_socialpopup_main_div .apptha_all_social_iconbtn ul{float:left; width: 100%;}
.apptha_all_social_iconbtn ul li{display: block;clear: both;margin-left: 30px;margin-bottom: 9px;}

.apptha_socialpopup_main_div .popup_register_btn{cursor: pointer;color: #fff;padding: 5px 15px;-webkit-border-radius: 4px;-moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 1px rgba(0,0,0,0.2);text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);text-decoration: none;border: 0;font-weight: bold;font-size: 13px;font-family: inherit;line-height: normal;zoom: 1;display: block;float: left;clear: both;background: #A0DE33;background: -webkit-gradient(linear,left top,left bottom,from(#A0DE33),to(#38690A));background: -webkit-linear-gradient(top,#A0DE33,#38690A);background: -moz-linear-gradient(top,#A0DE33,#38690A);background: -o-linear-gradient(top,#A0DE33,#38690A);background: -ms-linear-gradient(top,#A0DE33,#38690A);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0de33',endColorstr='#38690A');}
.apptha_socialpopup_main_div .socialpopup-input-box {float: left;margin-bottom: 12px;width:215px;}
.apptha_socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input, .socialpopup-input-box select {margin: 0;box-sizing: border-box;font-family: inherit;border: 1px solid #CCC;font-size: 13px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-box-shadow: 0 2px 2px #E3E3E3 inset;box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box; padding: 5px 4px;}
.socialpopup-input-box select{width:215px;}
#captcha-input-box-user_create .captcha, .apptha_socialpopup_main_div .sl_captcha, .apptha_socialpopup_main_div #captcha-input-box-user_create{float:left;}
.calendar{z-index:999992;}
.apptha_register_block #captcha_user_create{box-sizing: border-box;margin: 0;font-family: inherit;border: 1px solid #CCC;font-size: 13px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-box-shadow: 0 2px 2px #E3E3E3 inset;box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box;width: 230px;padding: 5px 4px;}
.socialpopup-input-box .dob-day, .socialpopup-input-box .dob-month, .socialpopup-input-box .dob-year{width: 70px;float: left;}
.socialpopup-input-box .dob-month{margin: 0 12px;}
.socialpopup-input-box .dob-day input, .socialpopup-input-box .dob-month input, .socialpopup-input-box .dob-year input{width: 65px;}
.apptha_socialpopup_main_div .apptha_show_password{font-size: 10px;float: left;margin-top: 20px;}
.apptha_socialpopup_main_div .social_login_btn{margin: 10px 0 0;}
.apptha_socialpopup_main_div .apptha_forget_password_form h4, .apptha_form_login h4, #form-validate h4, .apptha_all_social_iconbtn h4{font-size: 15px;font-family: 'tahoma', Arial, Helvetica, sans-serif;margin: 0 0 17px 0;border-bottom: 1px dotted #CCC;padding-bottom: 3px; text-align: right;} /* changed */
.apptha_socialpopup_main_div .apptha_forget_password_form .small_txt{color:#777;display: block;margin-bottom: 4px; float:left;text-align:left;}
.apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login{box-sizing: border-box;font-family:Arial, Helvetica, sans-serif;font-size: 13px;margin: 19px 0 17px;color:#444;float: left;border: 1px solid #DDD;background:#f5f6f6;padding: 7px 10px;width:355px;}
.apptha_socialpopup_main_div button.button{float: right; margin-top: 10px;}
.divider-or b{line-height: 46px;font-weight: bold;font-size: 13px;text-align: center;width: 37px;float: left;}
.apptha_socialpopup_main_div .divider-or{background-position: 0 -141px;width: 42px;height: 42px;display: block;position: absolute;top: 57%;right: 65.6%;margin: -42px 0 0;} /* changed */
.apptha_socialpopup_main_div .com_error, .apptha_socialpopup_main_div .apptha_register_error{box-sizing: border-box;background: #FFEBEB;color: #E50000;border: 1px solid #ECCDCD;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;padding: 5px 0;margin: 0 0 10px 0;float: left;width: 100%;text-align: center;}
.apptha_all_social_iconbtn h4{margin-left: 30px }
.inner_social_grid{box-sizing: border-box;cursor: pointer; border: 0; margin:0; float:left; font: bold 13px arial;color: white;padding: 0 0 0 10px; min-width: 48%; height: 26px;text-align: left;}
.fb_login{ background:url(images/facebook-bg.jpg) repeat-x;  }
.twitter_login{background:url(images/twitter-bg.jpg) repeat-x; }
.google_login{background:url(images/google-plus-login.png) repeat-x; background-repeat: no-repeat; height: 50px; margin-top: -16px; margin-left: 23px; min-width: 30% !important; outline: none; border-style: none; background-size: 80%; width: 35% !important;} /* changed */
.yahoo_login{background:url(images/yahoo_bg.jpg) repeat-x; }
.linkedin_login{box-sizing: border-box; border: 0; width: 179px; height: 26px; float:left;background-position:0 -58px;}
.twitter_popup_btn{float: right;margin:0;}
.linkedin_popup_input, .twitter_popup_input{width:97%;}
.apptha_twitter_error{color:red; width:200px;}
.icon_left_grid{display: block;  width: 28px; height: 26px; float: left;}
.icon_right_grid{display: block; width: 10px; height: 26px; float: left;}
/*.apptha_social_login_sprite{background:url(images/social_login_sprite.png);background-repeat: no-repeat;}*/
.f_icon_left{background-position: 0 0;}
.f_icon_right{background-position: -28px 0;}
.apptha_progress_image_facebooklogin{padding:5px 0 0 5px;}

.t_icon_left{ background-position: 0 -29px;}
.t_icon_right{ background-position: -28px -29px;}

.gplus_icon_left{  background-position: 0 -115px;}
.gplus_icon_right{ background-position: -28px -115px; }

.yahoo_icon_left{  background-position: 0 -86px;}
.yahoo_icon_right{ background-position: -28px -86px; }

.left_login{box-sizing: border-box;float: left;width: 55%; padding-right: 25px; /* border-right: 1px dotted #ccc; */ } /* changed */
.sl_clearfix{clear:both;}

.validation-advice { text-align:left; width: auto; }
.popup_social_msg{box-sizing: border-box;width: 91%;border: 1px solid #ADD8A7;color: #3d6b2d;background-color: #eaf9e6;padding: 10px;}
.socialpopup-submit-box{float: right;margin-bottom: 12px;width: 239px;margin-right: 19px;}
.sl_captcha li{list-style: none;}

.apptha_social_tiw_login h4{font-size: 15px;font-family: 'tahoma', Arial, Helvetica, sans-serif;margin: 0 0 17px 0;border-bottom: 1px solid #CCC;padding-bottom: 3px;text-align: left;}
.powerdby_link{float: right;margin-top: 15px;font-size: 10px;}
.appth_social_popup_main #captcha-image-box-user_create{width: 236px;margin-right: 21px;float: right;margin-top: 10px;}
.apptha_socialpopup_main_div #captcha-input-box-user_create em{float: right;padding-right: 10px}
.apptha_formSuccess {min-height: 13px;margin: 3px 0 0;padding: 0;font-size: 11px;font-weight: bold;line-height: 13px;color: #eb340a;text-align: left;}
.apptha_forget_password_error{float:left;width:100%;}
.apptha_progress_image_twitter, .apptha_progress_image_forgot, .apptha_progress_image_login, .apptha_progress_image_register{margin: 18px 0 0 10px;float: right;}

.apptha_progress_image_login{display: block;margin-top: 18px;}


@media screen and (max-width: 780px) {
    .apptha_header_logo_Div{ padding: 5px; width: 260px; position: absolute;top: 25%;box-sizing: border-box;}
    .appth_social_popup_main{ width: 234px; padding: 10px;box-sizing: border-box; }
    .left_login{ width: 100%; padding-right: 0;box-sizing: border-box;}
    .apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login { width: 200px;}
    .apptha_socialpopup_main_div .socialpopup-input-box{ width: 95%; }
    .apptha_socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input{ width: 100%; }
    .apptha_sociallogin_bg_fade {position: fixed;}
    .apptha_social_popup_main .divider-or{ display: none; }
    .apptha_socialpopup_main_div .apptha_all_social_iconbtn{ width: auto; float: none; position: relative; clear: both;}
    .apptha_all_social_iconbtn h4{ margin-left: 0;}
    .apptha_socialpopup_main_div .socialpopup_form label{ width: auto; }
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-day,
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-month,
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-year{width: 70px;float: left;}
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-month{margin: 0 12px;}
    .apptha_socialpopup_main_div .dob-day input,
    .apptha_socialpopup_main_div .dob-month input,
    .apptha_socialpopup_main_div .dob-year input{width: 56px;}
    .calendar{z-index:999992; left: 18%;}
}

@media screen and (max-width: 500px) {
    .apptha_all_social_iconbtn ul li{margin-left: 55px;}
}

@media only screen and (min-width: 310px) and (max-width: 400px){
    .calendar{z-index:999992; left: 2%;}
}

@media only screen and (max-width: 767px) {
    #social_gender {
        width: 100% !important;
    }
}

#SMEimg {
/*    background:url(images/ImgSME.jpg) repeat-x; */
    background-repeat: no-repeat;
}

    div.SMEImageDis {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flexbox;
    width: 305px !important;
    height: 450px !important;
    overflow: visible;
    }

.social-login-all {
    /* display: block;
    margin-top: -33px;
    margin-left: 107px !important;
    width: 45% !important;
    position: relative !important; */
	
    display: block;
    margin-top: -33px;
    margin-left: 116px !important;
    width: 34% !important;
    position: relative !important; 
}

.social-login-all .google_login {
    /* background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-left: 0px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 100%;
    width: 38% !important; */
	
    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-left: -19px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 100%;
    width: 45% !important;
}
.social-login-all .apptha_socialpopup_main_div .apptha_forget_password_form h4, .apptha_form_login h4, #form-validate h4, .apptha_all_social_iconbtn h4 {
    font-size: 13px;
    font-family: 'Open sans', sans-serif;
   /*  margin: 0 0 17px 0; */
    border-bottom: 1px dotted #CCC;
    padding-bottom: 3px;
    text-align: right;
}

.social-login-all .divider-or b {
    line-height: 46px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    width: 37px;
    float: left;
}

.social-login-all .apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* margin: 19px 0 17px; */
    color: #444;
    float: left;
    border: 1px solid #DDD;
    background: #f5f6f6;
    padding: 7px 10px;
    width: 355px;
}


@media only screen and (max-width: 767px) {
	
.social-login-all .google_login {
    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-right: -80px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 37% !important;
    width: 30% !important;
}

.apptha_socialpopup_main_div .apptha_all_social_iconbtn {
    width: 130px !important;
    float: left;
    position: relative;
    clear: both;
    margin-top: 14px;
}

.social-login-all {
    display: block;
    margin-top: -33px;
    margin-left: 0px !important;
    width: 34% !important;
    position: relative !important;
}

div.SMEImageDis {
    display: none;
    width: 305px !important;
    height: 395px !important;
    overflow: visible;
}

.apptha_all_social_iconbtn ul li {
    margin-left: -450px;
    }

    .google_login {
/*    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
     margin-top: 8px; 
    margin-left: 23px;
    min-width: 10% !important;
    outline: none;
    border-style: none;
    background-size: 100% !important;
    float: right;*/

    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 65px;
    /* margin-top: 8px; */
    margin-left: 68px !important;
    min-width: 32% !important;
    outline: none;
    border-style: none;
    background-size: 40% !important;
    float: right;
    margin-right: -100px !important;
}
	
}





/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.9.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */

/* IE7 */
*:first-child+html .sl_clearfix{min-height:1%}
*:first-child+html .sl_clear{min-height:1%}
.sl_clear{height:0;font-size:0;clear:both}
.sl_clearright{height:0;font-size:0;clear:right}
.sl_clearleft{height:0;font-size:0;clear:left}
.sl_clearfix:after{clear:both;display:block;content:" ";height:0;visibility:hidden}
.sl_clearfix{display:block}* html
.sl_clearfix{height:1%}
li.sl_clearfix{display:list-item}

#bg_fade{background-color:#000;height:100%;left:0;margin:0;padding:0;position: fixed;top:0;visibility:hidden;box-sizing: border-box;width:100%;z-index: 9999;}
.apptha_sociallogin_bg_fade {background-color:#000;height:100%;left:0;margin:0;padding:0;position: fixed;top:0;visibility:hidden;box-sizing: border-box;width:100%;z-index: 9999;}
.twitter_btn.button{background: #09f; display: block; padding: 3px 10px; margin-left: 10px; font:bold 13px arial;border-radius:5px;float: left;border: 0;color: white; cursor: pointer;}
.social_input{float: left; position: relative;}
.social_input .apptha_tw_email{margin-bottom: 5px; padding: 3px 5px 2px 5px;box-sizing: border-box;width: 196px; float: left; border: 1px solid #CCC;}
.social_input .validation-advice {clear: both;min-height: 13px;margin: 3px 0 0;box-sizing: border-box;padding-left: 17px;font-size: 11px;font-weight: bold;line-height: 13px;background: url(../images/validation_advice_bg.gif) 2px 0 no-repeat;color: #EB340A;width: 190px; text-align: left;}
.social_blog{padding-bottom: 25px; overflow: hidden; width: 105%;margin-left: -10px;}
.social-page-title {width: 100%;overflow: hidden;border-bottom: 1px solid #CCC;margin: 0 0 15px;}
.social-page-title h1{margin: 0;font-size: 20px;color: #0A263C;}
.social-top{margin: 0 auto;width: 950px;}
.apptha_header_logo_Div{z-index: 999991;position: fixed;box-sizing: border-box;padding:10px;width:749px;background: #333 transparent;background:url(images/social_popup_bg.png) repeat; left: 25% ;}
.apptha_social_popup_sprite{background:url(images/social_logoin_sprite.png) no-repeat;}
.closeLink{top: -6px;right: -6px; width: 26px; height: 26px; position: absolute;z-index: 9999; cursor: pointer;background-position: -47px -148px;}

.apptha_social_popup_main{background: white;padding: 20px;border: 3px solid #323232;}
.apptha_socialpopup_main_div{overflow: hidden;position: relative;}
.apptha_socialpopup_main_div .socialpopup_form label{float: left;width:38%;padding-top: 5px; text-align: left;}
.apptha_socialpopup_main_div .socialpopup_form em, .popup_error_msg {color:red;}
.apptha_socialpopup_main_div .apptha_all_social_iconbtn{width:30%; float: left; position: absolute; margin-left: -27px;} /* changed */
.apptha_socialpopup_main_div .apptha_all_social_iconbtn a{  cursor: pointer; text-decoration: none;}
.apptha_socialpopup_main_div .apptha_all_social_iconbtn ul{float:left; width: 100%;}
.apptha_all_social_iconbtn ul li{display: block;clear: both;margin-left: 30px;margin-bottom: 9px;}

.apptha_socialpopup_main_div .popup_register_btn{cursor: pointer;color: #fff;padding: 5px 15px;-webkit-border-radius: 4px;-moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 1px rgba(0,0,0,0.2);text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);text-decoration: none;border: 0;font-weight: bold;font-size: 13px;font-family: inherit;line-height: normal;zoom: 1;display: block;float: left;clear: both;background: #A0DE33;background: -webkit-gradient(linear,left top,left bottom,from(#A0DE33),to(#38690A));background: -webkit-linear-gradient(top,#A0DE33,#38690A);background: -moz-linear-gradient(top,#A0DE33,#38690A);background: -o-linear-gradient(top,#A0DE33,#38690A);background: -ms-linear-gradient(top,#A0DE33,#38690A);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0de33',endColorstr='#38690A');}
.apptha_socialpopup_main_div .socialpopup-input-box {float: left;margin-bottom: 12px;width:215px;}
.apptha_socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input, .socialpopup-input-box select {margin: 0;box-sizing: border-box;font-family: inherit;border: 1px solid #CCC;font-size: 13px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-box-shadow: 0 2px 2px #E3E3E3 inset;box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box; padding: 5px 4px;}
.socialpopup-input-box select{width:215px;}
#captcha-input-box-user_create .captcha, .apptha_socialpopup_main_div .sl_captcha, .apptha_socialpopup_main_div #captcha-input-box-user_create{float:left;}
.calendar{z-index:999992;}
.apptha_register_block #captcha_user_create{box-sizing: border-box;margin: 0;font-family: inherit;border: 1px solid #CCC;font-size: 13px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-box-shadow: 0 2px 2px #E3E3E3 inset;box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box;width: 230px;padding: 5px 4px;}
.socialpopup-input-box .dob-day, .socialpopup-input-box .dob-month, .socialpopup-input-box .dob-year{width: 70px;float: left;}
.socialpopup-input-box .dob-month{margin: 0 12px;}
.socialpopup-input-box .dob-day input, .socialpopup-input-box .dob-month input, .socialpopup-input-box .dob-year input{width: 65px;}
.apptha_socialpopup_main_div .apptha_show_password{font-size: 10px;float: left;margin-top: 20px;}
.apptha_socialpopup_main_div .social_login_btn{margin: 10px 0 0;}
.apptha_socialpopup_main_div .apptha_forget_password_form h4, .apptha_form_login h4, #form-validate h4, .apptha_all_social_iconbtn h4{font-size: 15px;font-family: 'tahoma', Arial, Helvetica, sans-serif;margin: 0 0 17px 0;border-bottom: 1px dotted #CCC;padding-bottom: 3px; text-align: right;} /* changed */
.apptha_socialpopup_main_div .apptha_forget_password_form .small_txt{color:#777;display: block;margin-bottom: 4px; float:left;text-align:left;}
.apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login{box-sizing: border-box;font-family:Arial, Helvetica, sans-serif;font-size: 13px;margin: 19px 0 17px;color:#444;float: left;border: 1px solid #DDD;background:#f5f6f6;padding: 7px 10px;width:355px;}
.apptha_socialpopup_main_div button.button{float: right; margin-top: 10px;}
.divider-or b{line-height: 46px;font-weight: bold;font-size: 13px;text-align: center;width: 37px;float: left;}
.apptha_socialpopup_main_div .divider-or{background-position: 0 -141px;width: 42px;height: 42px;display: block;position: absolute;top: 57%;right: 65.6%;margin: -42px 0 0;} /* changed */
.apptha_socialpopup_main_div .com_error, .apptha_socialpopup_main_div .apptha_register_error{box-sizing: border-box;background: #FFEBEB;color: #E50000;border: 1px solid #ECCDCD;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;padding: 5px 0;margin: 0 0 10px 0;float: left;width: 100%;text-align: center;}
.apptha_all_social_iconbtn h4{margin-left: 30px }
.inner_social_grid{box-sizing: border-box;cursor: pointer; border: 0; margin:0; float:left; font: bold 13px arial;color: white;padding: 0 0 0 10px; min-width: 48%; height: 26px;text-align: left;}
.fb_login{ background:url(images/facebook-bg.jpg) repeat-x;  }
.twitter_login{background:url(images/twitter-bg.jpg) repeat-x; }
.google_login{background:url(images/google-plus-login.png) repeat-x; background-repeat: no-repeat; height: 50px; margin-top: -16px; margin-left: 23px; min-width: 30% !important; outline: none; border-style: none; background-size: 80%; width: 35% !important;} /* changed */
.yahoo_login{background:url(images/yahoo_bg.jpg) repeat-x; }
.linkedin_login{box-sizing: border-box; border: 0; width: 179px; height: 26px; float:left;background-position:0 -58px;}
.twitter_popup_btn{float: right;margin:0;}
.linkedin_popup_input, .twitter_popup_input{width:97%;}
.apptha_twitter_error{color:red; width:200px;}
.icon_left_grid{display: block;  width: 28px; height: 26px; float: left;}
.icon_right_grid{display: block; width: 10px; height: 26px; float: left;}
/*.apptha_social_login_sprite{background:url(images/social_login_sprite.png);background-repeat: no-repeat;}*/
.f_icon_left{background-position: 0 0;}
.f_icon_right{background-position: -28px 0;}
.apptha_progress_image_facebooklogin{padding:5px 0 0 5px;}

.t_icon_left{ background-position: 0 -29px;}
.t_icon_right{ background-position: -28px -29px;}

.gplus_icon_left{  background-position: 0 -115px;}
.gplus_icon_right{ background-position: -28px -115px; }

.yahoo_icon_left{  background-position: 0 -86px;}
.yahoo_icon_right{ background-position: -28px -86px; }

.left_login{box-sizing: border-box;float: left;width: 55%; padding-right: 25px; /* border-right: 1px dotted #ccc; */ } /* changed */
.sl_clearfix{clear:both;}

.validation-advice { text-align:left; width: auto; }
.popup_social_msg{box-sizing: border-box;width: 91%;border: 1px solid #ADD8A7;color: #3d6b2d;background-color: #eaf9e6;padding: 10px;}
.socialpopup-submit-box{float: right;margin-bottom: 12px;width: 239px;margin-right: 19px;}
.sl_captcha li{list-style: none;}

.apptha_social_tiw_login h4{font-size: 15px;font-family: 'tahoma', Arial, Helvetica, sans-serif;margin: 0 0 17px 0;border-bottom: 1px solid #CCC;padding-bottom: 3px;text-align: left;}
.powerdby_link{float: right;margin-top: 15px;font-size: 10px;}
.appth_social_popup_main #captcha-image-box-user_create{width: 236px;margin-right: 21px;float: right;margin-top: 10px;}
.apptha_socialpopup_main_div #captcha-input-box-user_create em{float: right;padding-right: 10px}
.apptha_formSuccess {min-height: 13px;margin: 3px 0 0;padding: 0;font-size: 11px;font-weight: bold;line-height: 13px;color: #eb340a;text-align: left;}
.apptha_forget_password_error{float:left;width:100%;}
.apptha_progress_image_twitter, .apptha_progress_image_forgot, .apptha_progress_image_login, .apptha_progress_image_register{margin: 18px 0 0 10px;float: right;}

.apptha_progress_image_login{display: block;margin-top: 18px;}


@media screen and (max-width: 780px) {
    .apptha_header_logo_Div{ padding: 5px; width: 260px; position: absolute;top: 25%;box-sizing: border-box;}
    .appth_social_popup_main{ width: 234px; padding: 10px;box-sizing: border-box; }
    .left_login{ width: 100%; padding-right: 0;box-sizing: border-box;}
    .apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login { width: 200px;}
    .apptha_socialpopup_main_div .socialpopup-input-box{ width: 95%; }
    .apptha_socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input{ width: 100%; }
    .apptha_sociallogin_bg_fade {position: fixed;}
    .apptha_social_popup_main .divider-or{ display: none; }
    .apptha_socialpopup_main_div .apptha_all_social_iconbtn{ width: auto; float: none; position: relative; clear: both;}
    .apptha_all_social_iconbtn h4{ margin-left: 0;}
    .apptha_socialpopup_main_div .socialpopup_form label{ width: auto; }
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-day,
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-month,
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-year{width: 70px;float: left;}
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-month{margin: 0 12px;}
    .apptha_socialpopup_main_div .dob-day input,
    .apptha_socialpopup_main_div .dob-month input,
    .apptha_socialpopup_main_div .dob-year input{width: 56px;}
    .calendar{z-index:999992; left: 18%;}
}

@media screen and (max-width: 500px) {
    .apptha_all_social_iconbtn ul li{margin-left: 55px;}
}

@media only screen and (min-width: 310px) and (max-width: 400px){
    .calendar{z-index:999992; left: 2%;}
}

@media only screen and (max-width: 767px) {
    #social_gender {
        width: 100% !important;
    }
}

#SMEimg {
/*    background:url(images/ImgSME.jpg) repeat-x; */
    background-repeat: no-repeat;
}

div.SMEImageDis {
    display: flex;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flexbox;
    width: 305px !important;
    height: 450px !important;
    overflow: visible;
}

.social-login-all {
    /* display: block;
    margin-top: -33px;
    margin-left: 107px !important;
    width: 45% !important;
    position: relative !important; */
	
    display: block;
    margin-top: -33px;
    margin-left: 116px !important;
    width: 34% !important;
    position: relative !important; 
}

.social-login-all .google_login {
    /* background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-left: 0px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 100%;
    width: 38% !important; */
	
    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-left: -19px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 100%;
    width: 45% !important;
}
.social-login-all .apptha_socialpopup_main_div .apptha_forget_password_form h4, .apptha_form_login h4, #form-validate h4, .apptha_all_social_iconbtn h4 {
    font-size: 13px;
    font-family: 'Open sans', sans-serif;
   /*  margin: 0 0 17px 0; */
    border-bottom: 1px dotted #CCC;
    padding-bottom: 3px;
    text-align: right;
}

.social-login-all .divider-or b {
    line-height: 46px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    width: 37px;
    float: left;
}

.social-login-all .apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* margin: 19px 0 17px; */
    color: #444;
    float: left;
    border: 1px solid #DDD;
    background: #f5f6f6;
    padding: 7px 10px;
    width: 355px;
}


@media only screen and (max-width: 767px) {
	
.social-login-all .google_login {
    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-right: -80px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 37% !important;
    width: 30% !important;
}

.apptha_socialpopup_main_div .apptha_all_social_iconbtn {
    width: 130px !important;
    float: left;
    position: relative;
    clear: both;
    margin-top: 14px;
}

.social-login-all {
    display: block;
    margin-top: -33px;
    margin-left: 0px !important;
    width: 34% !important;
    position: relative !important;
}

div.SMEImageDis {
    display: none;
    width: 305px !important;
    height: 395px !important;
    overflow: visible;
}

.apptha_all_social_iconbtn ul li {
    margin-left: -450px;
    }

    .google_login {
/*    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
     margin-top: 8px; 
    margin-left: 23px;
    min-width: 10% !important;
    outline: none;
    border-style: none;
    background-size: 100% !important;
    float: right;*/

    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 65px;
    /* margin-top: 8px; */
    margin-left: 68px !important;
    min-width: 32% !important;
    outline: none;
    border-style: none;
    background-size: 40% !important;
    float: right;
    margin-right: -100px !important;
    }

}





/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.9.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */

/* IE7 */
*:first-child+html .sl_clearfix{min-height:1%}
*:first-child+html .sl_clear{min-height:1%}
.sl_clear{height:0;font-size:0;clear:both}
.sl_clearright{height:0;font-size:0;clear:right}
.sl_clearleft{height:0;font-size:0;clear:left}
.sl_clearfix:after{clear:both;display:block;content:" ";height:0;visibility:hidden}
.sl_clearfix{display:block}* html
.sl_clearfix{height:1%}
li.sl_clearfix{display:list-item}

#bg_fade{background-color:#000;height:100%;left:0;margin:0;padding:0;position: fixed;top:0;visibility:hidden;box-sizing: border-box;width:100%;z-index: 9999;}
.apptha_sociallogin_bg_fade {background-color:#000;height:100%;left:0;margin:0;padding:0;position: fixed;top:0;visibility:hidden;box-sizing: border-box;width:100%;z-index: 9999;}
.twitter_btn.button{background: #09f; display: block; padding: 3px 10px; margin-left: 10px; font:bold 13px arial;border-radius:5px;float: left;border: 0;color: white; cursor: pointer;}
.social_input{float: left; position: relative;}
.social_input .apptha_tw_email{margin-bottom: 5px; padding: 3px 5px 2px 5px;box-sizing: border-box;width: 196px; float: left; border: 1px solid #CCC;}
.social_input .validation-advice {clear: both;min-height: 13px;margin: 3px 0 0;box-sizing: border-box;padding-left: 17px;font-size: 11px;font-weight: bold;line-height: 13px;background: url(../images/validation_advice_bg.gif) 2px 0 no-repeat;color: #EB340A;width: 190px; text-align: left;}
.social_blog{padding-bottom: 25px; overflow: hidden; width: 105%;margin-left: -10px;}
.social-page-title {width: 100%;overflow: hidden;border-bottom: 1px solid #CCC;margin: 0 0 15px;}
.social-page-title h1{margin: 0;font-size: 20px;color: #0A263C;}
.social-top{margin: 0 auto;width: 950px;}
.apptha_header_logo_Div{z-index: 999991;position: fixed;box-sizing: border-box;padding:10px;width:749px;background: #333 transparent;background:url(images/social_popup_bg.png) repeat; left: 25% ;}
.apptha_social_popup_sprite{background:url(images/social_logoin_sprite.png) no-repeat;}
.closeLink{top: -6px;right: -6px; width: 26px; height: 26px; position: absolute;z-index: 9999; cursor: pointer;background-position: -47px -148px;}

.apptha_social_popup_main{background: white;padding: 20px;border: 3px solid #323232;}
.apptha_socialpopup_main_div{overflow: hidden;position: relative;}
.apptha_socialpopup_main_div .socialpopup_form label{float: left;width:38%;padding-top: 5px; text-align: left;}
.apptha_socialpopup_main_div .socialpopup_form em, .popup_error_msg {color:red;}
.apptha_socialpopup_main_div .apptha_all_social_iconbtn{width:30%; float: left; position: absolute; margin-left: -27px;} /* changed */
.apptha_socialpopup_main_div .apptha_all_social_iconbtn a{  cursor: pointer; text-decoration: none;}
.apptha_socialpopup_main_div .apptha_all_social_iconbtn ul{float:left; width: 100%;}
.apptha_all_social_iconbtn ul li{display: block;clear: both;margin-left: 30px;margin-bottom: 9px;}

.apptha_socialpopup_main_div .popup_register_btn{cursor: pointer;color: #fff;padding: 5px 15px;-webkit-border-radius: 4px;-moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 1px rgba(0,0,0,0.2);text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);text-decoration: none;border: 0;font-weight: bold;font-size: 13px;font-family: inherit;line-height: normal;zoom: 1;display: block;float: left;clear: both;background: #A0DE33;background: -webkit-gradient(linear,left top,left bottom,from(#A0DE33),to(#38690A));background: -webkit-linear-gradient(top,#A0DE33,#38690A);background: -moz-linear-gradient(top,#A0DE33,#38690A);background: -o-linear-gradient(top,#A0DE33,#38690A);background: -ms-linear-gradient(top,#A0DE33,#38690A);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0de33',endColorstr='#38690A');}
.apptha_socialpopup_main_div .socialpopup-input-box {float: left;margin-bottom: 12px;width:215px;}
.apptha_socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input, .socialpopup-input-box select {margin: 0;box-sizing: border-box;font-family: inherit;border: 1px solid #CCC;font-size: 13px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-box-shadow: 0 2px 2px #E3E3E3 inset;box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box; padding: 5px 4px;}
.socialpopup-input-box select{width:215px;}
#captcha-input-box-user_create .captcha, .apptha_socialpopup_main_div .sl_captcha, .apptha_socialpopup_main_div #captcha-input-box-user_create{float:left;}
.calendar{z-index:999992;}
.apptha_register_block #captcha_user_create{box-sizing: border-box;margin: 0;font-family: inherit;border: 1px solid #CCC;font-size: 13px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-box-shadow: 0 2px 2px #E3E3E3 inset;box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box;width: 230px;padding: 5px 4px;}
.socialpopup-input-box .dob-day, .socialpopup-input-box .dob-month, .socialpopup-input-box .dob-year{width: 70px;float: left;}
.socialpopup-input-box .dob-month{margin: 0 12px;}
.socialpopup-input-box .dob-day input, .socialpopup-input-box .dob-month input, .socialpopup-input-box .dob-year input{width: 65px;}
.apptha_socialpopup_main_div .apptha_show_password{font-size: 10px;float: left;margin-top: 20px;}
.apptha_socialpopup_main_div .social_login_btn{margin: 10px 0 0;}
.apptha_socialpopup_main_div .apptha_forget_password_form h4, .apptha_form_login h4, #form-validate h4, .apptha_all_social_iconbtn h4{font-size: 15px;font-family: 'tahoma', Arial, Helvetica, sans-serif;margin: 0 0 17px 0;border-bottom: 1px dotted #CCC;padding-bottom: 3px; text-align: right;} /* changed */
.apptha_socialpopup_main_div .apptha_forget_password_form .small_txt{color:#777;display: block;margin-bottom: 4px; float:left;text-align:left;}
.apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login{box-sizing: border-box;font-family:Arial, Helvetica, sans-serif;font-size: 13px;margin: 19px 0 17px;color:#444;float: left;border: 1px solid #DDD;background:#f5f6f6;padding: 7px 10px;width:355px;}
.apptha_socialpopup_main_div button.button{float: right; margin-top: 10px;}
.divider-or b{line-height: 46px;font-weight: bold;font-size: 13px;text-align: center;width: 37px;float: left;}
.apptha_socialpopup_main_div .divider-or{background-position: 0 -141px;width: 42px;height: 42px;display: block;position: absolute;top: 57%;right: 65.6%;margin: -42px 0 0;} /* changed */
.apptha_socialpopup_main_div .com_error, .apptha_socialpopup_main_div .apptha_register_error{box-sizing: border-box;background: #FFEBEB;color: #E50000;border: 1px solid #ECCDCD;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;padding: 5px 0;margin: 0 0 10px 0;float: left;width: 100%;text-align: center;}
.apptha_all_social_iconbtn h4{margin-left: 30px }
.inner_social_grid{box-sizing: border-box;cursor: pointer; border: 0; margin:0; float:left; font: bold 13px arial;color: white;padding: 0 0 0 10px; min-width: 48%; height: 26px;text-align: left;}
.fb_login{ background:url(images/facebook-bg.jpg) repeat-x;  }
.twitter_login{background:url(images/twitter-bg.jpg) repeat-x; }
.google_login{background:url(images/google-plus-login.png) repeat-x; background-repeat: no-repeat; height: 50px; margin-top: -16px; margin-left: 23px; min-width: 30% !important; outline: none; border-style: none; background-size: 80%; width: 35% !important;} /* changed */
.yahoo_login{background:url(images/yahoo_bg.jpg) repeat-x; }
.linkedin_login{box-sizing: border-box; border: 0; width: 179px; height: 26px; float:left;background-position:0 -58px;}
.twitter_popup_btn{float: right;margin:0;}
.linkedin_popup_input, .twitter_popup_input{width:97%;}
.apptha_twitter_error{color:red; width:200px;}
.icon_left_grid{display: block;  width: 28px; height: 26px; float: left;}
.icon_right_grid{display: block; width: 10px; height: 26px; float: left;}
/*.apptha_social_login_sprite{background:url(images/social_login_sprite.png);background-repeat: no-repeat;}*/
.f_icon_left{background-position: 0 0;}
.f_icon_right{background-position: -28px 0;}
.apptha_progress_image_facebooklogin{padding:5px 0 0 5px;}

.t_icon_left{ background-position: 0 -29px;}
.t_icon_right{ background-position: -28px -29px;}

.gplus_icon_left{  background-position: 0 -115px;}
.gplus_icon_right{ background-position: -28px -115px; }

.yahoo_icon_left{  background-position: 0 -86px;}
.yahoo_icon_right{ background-position: -28px -86px; }

.left_login{box-sizing: border-box;float: left;width: 55%; padding-right: 25px; /* border-right: 1px dotted #ccc; */ } /* changed */
.sl_clearfix{clear:both;}

.validation-advice { text-align:left; width: auto; }
.popup_social_msg{box-sizing: border-box;width: 91%;border: 1px solid #ADD8A7;color: #3d6b2d;background-color: #eaf9e6;padding: 10px;}
.socialpopup-submit-box{float: right;margin-bottom: 12px;width: 239px;margin-right: 19px;}
.sl_captcha li{list-style: none;}

.apptha_social_tiw_login h4{font-size: 15px;font-family: 'tahoma', Arial, Helvetica, sans-serif;margin: 0 0 17px 0;border-bottom: 1px solid #CCC;padding-bottom: 3px;text-align: left;}
.powerdby_link{float: right;margin-top: 15px;font-size: 10px;}
.appth_social_popup_main #captcha-image-box-user_create{width: 236px;margin-right: 21px;float: right;margin-top: 10px;}
.apptha_socialpopup_main_div #captcha-input-box-user_create em{float: right;padding-right: 10px}
.apptha_formSuccess {min-height: 13px;margin: 3px 0 0;padding: 0;font-size: 11px;font-weight: bold;line-height: 13px;color: #eb340a;text-align: left;}
.apptha_forget_password_error{float:left;width:100%;}
.apptha_progress_image_twitter, .apptha_progress_image_forgot, .apptha_progress_image_login, .apptha_progress_image_register{margin: 18px 0 0 10px;float: right;}

.apptha_progress_image_login{display: block;margin-top: 18px;}


@media screen and (max-width: 780px) {
    .apptha_header_logo_Div{ padding: 5px; width: 260px; margin-top: 42px !important; position: fixed;top: 25%;box-sizing: border-box;}
    .appth_social_popup_main{ width: 234px; padding: 10px;box-sizing: border-box; }
    .left_login{ width: 100%; padding-right: 0;box-sizing: border-box;}
    .apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login { width: 200px;}
    .apptha_socialpopup_main_div .socialpopup-input-box{ width: 95%; }
    .apptha_socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input{ width: 100%; }
    .apptha_sociallogin_bg_fade {position: fixed;}
    .apptha_social_popup_main .divider-or{ display: none; }
    .apptha_socialpopup_main_div .apptha_all_social_iconbtn{ width: auto; float: none; position: relative; clear: both;}
    .apptha_all_social_iconbtn h4{ margin-left: 0;}
    .apptha_socialpopup_main_div .socialpopup_form label{ width: auto; }
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-day,
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-month,
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-year{width: 70px;float: left;}
    .apptha_socialpopup_main_div .socialpopup-input-box .dob-month{margin: 0 12px;}
    .apptha_socialpopup_main_div .dob-day input,
    .apptha_socialpopup_main_div .dob-month input,
    .apptha_socialpopup_main_div .dob-year input{width: 56px;}
    .calendar{z-index:999992; left: 18%;}
}

@media screen and (max-width: 500px) {
    .apptha_all_social_iconbtn ul li{margin-left: 55px;}
}

@media only screen and (min-width: 310px) and (max-width: 400px){
    .calendar{z-index:999992; left: 2%;}
}

@media only screen and (max-width: 767px) {
    #social_gender {
        width: 100% !important;
    }
}

#SMEimg {
/*    background:url(images/ImgSME.jpg) repeat-x; */
    background-repeat: no-repeat;
}

div.SMEImageDis {
    display: flex;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flexbox;
    width: 305px !important;
    height: 450px !important;
    overflow: visible;
}

.social-login-all {
    /* display: block;
    margin-top: -33px;
    margin-left: 107px !important;
    width: 45% !important;
    position: relative !important; */
	
	display: block;
    margin-top: -33px;
    margin-left: 116px !important;
    width: 34% !important;
    position: relative !important;
}

.social-login-all .google_login {
    /* background: url(images/google-plus-login.png) repeat-x;
background-repeat: no-repeat;
height: 50px;
    margin-top: -16px;
    margin-left: 0px;
    min-width: 30% !important;
outline: none;
border-style: none;
    background-size: 100%;
	width: 38% !important; */
	
	background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-left: -19px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 100%;
    width: 45% !important;
}
.social-login-all .apptha_socialpopup_main_div .apptha_forget_password_form h4, .apptha_form_login h4, #form-validate h4, .apptha_all_social_iconbtn h4 {
    font-size: 13px;
    font-family: 'Open sans', sans-serif;
   /*  margin: 0 0 17px 0; */
    border-bottom: 1px dotted #CCC;
    padding-bottom: 3px;
    text-align: right;
}

.social-login-all .divider-or b {
    line-height: 46px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    width: 37px;
    float: left;
}

.social-login-all .apptha_socialpopup_main_div .new_account_create, .apptha_socialpopup_main_div .return_login {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* margin: 19px 0 17px; */
    color: #444;
    float: left;
    border: 1px solid #DDD;
    background: #f5f6f6;
    padding: 7px 10px;
    width: 355px;
}


@media only screen and (max-width: 767px) {

.social-login-all .google_login {
    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -16px;
    margin-right: -80px;
    min-width: 30% !important;
    outline: none;
    border-style: none;
    background-size: 35% !important;
    width: 30% !important;
}

.apptha_socialpopup_main_div .apptha_all_social_iconbtn {
    width: 130px !important;
    float: left;
    position: relative;
    clear: both;
    margin-top: 14px;
}

.social-login-all {
    display: block;
    margin-top: -33px;
    margin-left: 0px !important;
    width: 34% !important;
    position: relative !important;
}

div.SMEImageDis {
    display: none !important;
    width: 305px !important;
    height: 395px !important;
    overflow: visible;
}

.apptha_all_social_iconbtn ul li {
    margin-left: -450px;
    }

    .google_login {
/*    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 50px;
     margin-top: 8px; 
    margin-left: 23px;
    min-width: 10% !important;
    outline: none;
    border-style: none;
    background-size: 100% !important;
    float: right;*/

    background: url(images/google-plus-login.png) repeat-x;
    background-repeat: no-repeat;
    height: 65px;
    /* margin-top: 8px; */
    margin-left: 68px !important;
    min-width: 32% !important;
    outline: none;
    border-style: none;
    background-size: 40% !important;
    float: right;
    margin-right: -100px !important;
}
	
}






