@extends('layouts.badabuilder')

@section('content')


    <section class="headings">
        <div class="text-heading text-center">
            <div class="container">
                <h1>Our Projects</h1>
            </div>
        </div>
    </section>

    <div class="road">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{{ url('/') }}">Home</a><span>»</span><span>Our Projects</span>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION HEADINGS -->

    <!-- START SECTION PROJECTS -->
    <section class="portfolio">
        <div class="container-fluid">
            <div class="filters-group">
                <ul>
                    <li class="active" data-filter="*">Show All</li>
                    <li data-filter=".people">Renovation</li>
                    <li data-filter=".landscapes">Interior</li>
                    <li data-filter=".web">Painting</li>
                    <li data-filter=".graphic">Plumber</li>
                </ul>
            </div>
            <div class="row portfolio-items">
                <div class="item col-lg-3 col-md-6 col-xs-12 landscapes no-gutters">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="images/projects/g-1.jpg" alt="" />
                            <div class="portfolio-view">
                                <div class="item-wrap">
                                    <a class="img-poppu" href="images/projects/g-1.jpg" data-rel="lightcase:myCollection:slideshow">
                                        <span class="plus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <a href="#"><h4>Construction Service</h4></a>
                            <span>See Our Projecct</span>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-6 col-xs-12 people no-gutters">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="images/projects/g-2.jpg" alt="" />
                            <div class="portfolio-view">
                                <div class="item-wrap">
                                    <a class="img-poppu" href="images/projects/g-2.jpg" data-rel="lightcase:myCollection:slideshow">
                                        <span class="plus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <a href="#"><h4>Construction Service</h4></a>
                            <span>See Our Projecct</span>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-6 col-xs-12 people landscapes no-gutters">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="images/projects/g-3.jpg" alt="" />
                            <div class="portfolio-view">
                                <div class="item-wrap">
                                    <a class="img-poppu" href="images/projects/g-3.jpg" data-rel="lightcase:myCollection:slideshow">
                                        <span class="plus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <a href="#"><h4>Construction Service</h4></a>
                            <span>See Our Projecct</span>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-6 col-xs-12 people landscapes no-gutters">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="images/projects/g-4.jpg" alt="" />
                            <div class="portfolio-view">
                                <div class="item-wrap">
                                    <a class="img-poppu" href="images/projects/g-4.jpg" data-rel="lightcase:myCollection:slideshow">
                                        <span class="plus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <a href="#"><h4>Construction Service</h4></a>
                            <span>See Our Projecct</span>
                        </div>
                    </div>
                </div>
                <div class="item it2 col-lg-3 col-md-6 col-xs-12 people no-gutters">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="images/projects/g-5.jpg" alt="" />
                            <div class="portfolio-view">
                                <div class="item-wrap">
                                    <a class="img-poppu" href="images/projects/g-5.jpg" data-rel="lightcase:myCollection:slideshow">
                                        <span class="plus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <a href="#"><h4>Construction Service</h4></a>
                            <span>See Our Projecct</span>
                        </div>
                    </div>
                </div>
                <div class="item it2 col-lg-3 col-md-6 col-xs-12 web no-gutters">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="images/projects/g-7.jpg" alt="" />
                            <div class="portfolio-view">
                                <div class="item-wrap">
                                    <a class="img-poppu" href="images/projects/g-6.jpg" data-rel="lightcase:myCollection:slideshow">
                                        <span class="plus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <a href="#"><h4>Construction Service</h4></a>
                            <span>See Our Projecct</span>
                        </div>
                    </div>
                </div>
                <div class="item it2 col-lg-3 col-md-6 col-xs-12 web no-gutters">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="images/projects/g-6.jpg" alt="" />
                            <div class="portfolio-view">
                                <div class="item-wrap">
                                    <a class="img-poppu" href="images/projects/g-7.jpg" data-rel="lightcase:myCollection:slideshow">
                                        <span class="plus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <a href="#"><h4>Construction Service</h4></a>
                            <span>See Our Projecct</span>
                        </div>
                    </div>
                </div>
                <div class="item it2 col-lg-3 col-md-6 col-xs-12 web graphic no-gutters">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="images/projects/g-8.jpg" alt="" />
                            <div class="portfolio-view">
                                <div class="item-wrap">
                                    <a class="img-poppu" href="images/projects/g-8.jpg" data-rel="lightcase:myCollection:slideshow">
                                        <span class="plus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <a href="#"><h4>Construction Service</h4></a>
                            <span>See Our Projecct</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION PROJECTS -->
@endsection